<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/"> <img src="/static/images/nav.jpg" style="width:10vh; height:10vh;" alt="logo"> | </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/"> Neighbourly <span class="sr-only">(current)</span></a>
            </li>
        </ul>

        <form action="{% url 'search_businesses' %}" class="form-inline my-2 my-lg-0">
            <input class="form-control form-control-sm mr-sm-2" name="search" type="search" placeholder="Search for Businesses... &#xF002;" style="font-family:Arial, FontAwesome" aria-label="Search">
        </form>


        <ul class="navbar-nav ml-auto">


            {% if user.is_authenticated %}

            <li class="nav-item">
                <a class="nav-link" href="/my-profile"> {{request.user.username}} <i class="fa fa-user-circle-o" style="font-size:20px"></i> </a>
            </li>
            {% else %}
            <li class="nav-item">
                <a class="nav-link" href="/accounts/login">Reg/Login | </a>
            </li>
            {% endif %}
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Resources
          </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/businesses">Businesses</a>
                    <div class="dropdown-divider"></div>
                    {%if request.user.profile.neighborhood%}
                    <a class="dropdown-item" href="{% url 'health_centers' request.user.profile.neighborhood.id%}">Health Centers</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{% url 'police_stations' request.user.profile.neighborhood.id %}">Police Contacts</a> {%endif%}
                </div>
            </li>

            {% if user.is_authenticated %}

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown2" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                NoticeBoard
              </a>

                <div class="dropdown-menu" aria-labelledby="navbarDropdown2">
                    {% if request.user.profile.neighborhood %}

                    <a class="dropdown-item" href="{% url 'view_notices' request.user.profile.neighborhood.id%}">View Notices</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{% url 'share_notice' request.user.profile.neighborhood.id%}">Share Notice</a> {% endif %}
                </div>
            </li>

            {% endif %}


            <li>
                <a class="nav-link" href="/logout"> | <i class="fa fa-sign-out" style="font-size:20px"></i> </i></a>
            </li>
        </ul>

    </div>
</nav>