{%extends "registration/base.html"%} {% load bootstrap4 %} {% block content %}
<br>
<div class="container-fluid">
    <div class="row">
        <!-- Empty div -->
        <div class="col-md-6">
            <img src="../../static/images/bg.jpg"> </div>
        <div class="col-md-6">
            {% if form.errors %}
            <h6> Some Information Might be Incorrect </h6>
            {% endif %}
            <div class="card" id="user">

                <div class="card-header">
                    <div class="row">
                        <div class="col-md-2"></div>
                        <div class="col-md-8" style="text-align: center; color: dimgray;" style="font-size:14;">
                            WELCOME TO NEIGHBOURLY.
                        </div>
                        <div class="col-md-2"></div>
                    </div>
                    <div class="row">
                        <h5 style="text-align:center;"><strong>Register </strong></h5>
                        <h5 style="text-align:center;">Already a Member? <a href="/accounts/login/?next=/">Sign-In</a></h5>
                    </div>

                </div>



                <div class="card-body">

                    <form action="/accounts/register/" method="post">
                        {% csrf_token %} {% bootstrap_form form %}
                        <div class="form-group">
                            <input type="submit" class="btn btn-primary btn-sm" value="CREATE YOUR ACCOUNT" style="background-color:#3897f0;padding-left: 110px;padding-right: 110px;">
                        </div>

                        <input type="hidden" name="next" value="{{next}}">

                    </form>

                </div>
                <div class="card-footer text-center " id="footer">
                    © 2020 NEIGHBOURLY. All rights reserved.
                    <br> By signing up, I agree to NEIGHBOURLY's
                    <br>
                    <a href="#" target="blank" style="color:gray">Terms of
                        Service</a>

                </div>

            </div>

        </div>
    </div>
</div>
{% endblock %}