{% extends 'posts/base.html'%} {% load bootstrap4 %} {% block content %} {{ block.super }}

<div class="container-fluid topBuffer">
    <h3 class="text-center"> {{ request.user.profile.neighborhood }} Health Center Contacts </h3>

    <div class="jumbotron bg-img">
        <div class="row">

            {% if health_centers %} {% for health_center in health_centers %}
            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                <div class="card border-info slightOpaicty">
                    <div class="card-header"> {{ health_center.hospital_name }} </div>
                    <ul class="list-group text-info list-group-flush">
                        <li class="list-group-item"> Neighborhood: {{ health_center.neighborhood }} </li>
                        <li class="list-group-item"> Email: {{ health_center.email }} </li>
                        <li class="list-group-item"> Tel: {{ health_center.tel }} </li>
                    </ul>
                </div>
            </div>

            {% endfor %} {% else %}
            <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7 text-center align-items-center mx-auto">
                <div class="card border-info slightOpaicty">
                    <div class="card-body"> No health center contacts posted yet for {{ request.user.profile.neighborhood }} </div>
                </div>
            </div>

            {% endif %}


        </div>
        <!-- end of row -->
    </div>
    <!-- jumbotron ends here -->
</div>
<!-- container ends here -->

{% endblock %}