{%extends "registration/base.html"%} {% load bootstrap4 %} {% block content %}

<br>
<br>
<br>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            <img src="../../static/images/download.jpeg">
        </div>
        <div class="col-md-6">
            {% if form.errors %}
            <h6> Password or Username is incorrect </h6>
            {% endif %}
            <div class="card" id="top">

                <div class="card-body text-center" id="login">
                    <h5>Don't have an account? <a href="/accounts/register/">Sign-Up</a></h5>
                </div>
                <div class="card-body">

                    <form action="/accounts/login/" method="post">
                        {% csrf_token %} {% bootstrap_form form%}

                        <div class="form-group">
                            <input type="submit" class="btn btn-light btn-sm" value="LogIn" style="padding-left: 100px;padding-right: 100px; background-color:#3897f0;color:whitesmoke;">
                        </div>

                        <input type="hidden" name="next" value="{{next}}">

                    </form>

                </div>

            </div>

        </div>
    </div>
</div>
{% endblock %}